#textfieldCustID ,#CustomerNameTextField,#ItemIDTextField,#descriptionTextField,#QuantityTextField{

-fx-background-color: transparent;
    -fx-border-color: transparent transparent #555 transparent;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: #333;
    -fx-prompt-text-fill: #888;
    -fx-font-size: 14px;
    -fx-padding: 5 0 5 0;
  }